



<div class="container">
  <div class="row">
    <div class="col-sm-7 full-height ">
      <div class="v-align">
  <h1 class="text-center">Sign in</h1>
</div>

    </div>
    <div class="col-sm-5 full-height">
      <div class="v-align">

        <div class="row animated" ng-if="vm.hasError" >
          <div class="col-sm-12">
            <div class="alert error">
              The email address or password you entered is incorrect.
            </div>
          </div>
        </div>

      <form name="signinFormAccount" novalidate>
        <div class="row">

          <div class="col-sm-12">
              <label for="email" class="control-label">Email</label>
            <div class="form-group">
              <input type="email" name="email" id="email" ng-model="vm.signinModel.email" class="form-control form-control-lg" placeholder="you@youremail.com" required autocomplete="off">
            </div>
          </div>
        </div>



    <div class="row">

      <div class="col">
        <div class="d-flex w-100 justify-content-between  align-items-top">
          <label for="email" class="control-label">Password</label><a ui-sref="homepage" tabindex="-1"><small> Forgotten your password?</small></a>
         </div>

        <div class="form-group">
          <input type="password" name="password" id="password" ng-model="vm.signinModel.password" class="form-control form-control-lg" placeholder="password" required>
        </div>
      </div>
    </div>




        <div class="form-group">
          <button id="sumbitAccount" class="btn btn-primary btn-lg btn-block " ng-disabled="signinFormAccount.$invalid" ng-click="vm.submit();">
              Sign in
                    </button>
      </div>

      </form>

    </div>
          </div>
  </div>
</div>
