html {
  height: 100%;
}
body {
  background: $white;
  letter-spacing: normal;
  color: #1d364b;
  &.homepage-bg {
    background: $brand-color;
  }

  &.is-app {

    height: 100%;
    [ui-view] {
      margin-left: 70px;
      background: #f0f4f7;
    }

  }
}

[ui-view] {
  height: 100%;
}


a[disabled],
a[disabled]:hover {
  pointer-events: none;
  opacity: .3;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  margin-top: 0;
}

p {
  font-weight: 300;

  &.strapline {
    font-size: 18px;
  }
}

.white-bg {
  background-color: $white;
}

.brand-bg {
  background-color: $brand-color;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $white;
  }

  p {
    color: rgba($white,0.6);
  }
}

.jumbotron {
  background: $brand-color;
}
