.salesbot-icon {
    width: 60px;
    position: relative;
    height: 60px;
    background-color: $brand-color;
    border-radius: 100px;
    text-align: right;
    overflow: hidden;
    box-shadow: 0 2px 34px rgba(0,0,0,0.2);
    transition: all 0.25s ease;
    backface-visibility: hidden;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    outline: none;

    #logo {
        fill: $white;
        display: inline-block;
        transform: translateY(30px);
        transition-duration: 0.19s;
        transition-timing-function: ease-in-out;
        transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        position: relative;
    }

    .salesbot-icon-close {
        position: absolute;
        top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: $brand-color;
    padding: 21px;
    text-align: center;
    }

    #salesbot-close {
        width: 18px;
    }

    &:hover {


        #logo {
            transform: translateY(7px);

            .dot {
                animation: wave 1.2s linear infinite;

                &:nth-child(2) {
                    animation-delay: -0.8s;
                }

                &:nth-child(3) {
                    animation-delay: -1s;
                }
            }
        }
    }



    &.reverse {
        background-color: $white;

        #logo {
            fill: $brand-color;
        }
    }
}
