#sidebar {
  width: 70px;
  background: #1d364b;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  #logo {
    fill: $white;
  }

  .sidebar-item {
    i {
      color: #8da2b5;
      font-size: 18px;
    }

    &:hover {
      background: darken(#1d364b,3%);

      i {
        color: $white;
      }
    }
  }
}
