table {
  border: none!important;
  border-color: #e9eef2;
  thead {
    th {
          border: none!important;
          font-size: 14px;
          color: $text-muted;
          font-weight: normal;
    }
  }

  tbody {
    td {
      border-color: #e9eef2;
    }
  }
}
