<div id="sidebar" class="d-flex align-items-start flex-column h-100 text-white">
  <div class="mb-auto p-3 w-100 text-center ">
    <salesbot-logo size="sm" is-link=true></salesbot-logo>
    <div class="sidebar-nav py-3">
      <i class="fa fa-calendar py-3" ui-sref="calendar"></i>
        <i class="fa fa-users py-3"></i>
        <i class="fa fa-pie-chart py-3"></i>
    </div>

  </div>

  <div class="w-100 p-4 text-center">
    hi{{vm.user.name}}
  </div>
  <div class="w-100 p-3 text-center text-white">
    <i class="fa fa-cog" ui-sref="logout"></i>
  </div>
</div>
