<div id="sidebar" class="d-flex align-items-start flex-column h-100 text-white">
  <div class="mb-auto  w-100 text-center ">
    <div class="py-3 sidebar-item " >
    <salesbot-logo size="sm"is-link=true></salesbot-logo>
    </div>
    <div class="sidebar-nav w-100">
      <div class="sidebar-item ">
          <i class="fa fa-calendar py-3" ui-sref="calendar"></i>
      </div>
      <div class="sidebar-item ">
        <i class="fa fa-users py-3"></i>
      </div>
      <div class="sidebar-item  w-100">
            <i class="fa fa-pie-chart py-3"></i>
      </div>

    </div>

  </div>


  <div class=" w-100 text-center text-white">
<div class="sidebar-item w-100 py-3 " ui-sref="logout">

    <user-avatar user="vm.user" size="sm" ng-if="vm.user"><user-avatar>


  </div>
  </div>
</div>
