



<div class="container">
  <div class="row">
    <div class="col-sm-7 full-height ">
      <div class="v-align">
  <h1 class="text-center animated fadeInLeft" ng-if="vm.user">Welcome, {{vm.user.name}}</h1>
</div>

    </div>
    <div class="col-sm-5 full-height">
      <div class="v-align">

<h2>Users</h2>
<div ng-repeat="user in vm.users">
  {{user.name}} <span ng-if="vm.token.sub === user.id">(you)</span> <b class="pull-right">{{user.email}}</b>
</div>
    </div>
          </div>
  </div>
</div>
