<svg id="logo" data-name="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 123 73.67">
    <defs>
    <style>.cls-2{opacity:0.8;}.cls-3{opacity:0.6;}</style>
</defs>
<rect class="cls-1 dot" x="86" y="36.67" width="10" height="10" rx="5" ry="5"/>
<rect class="cls-2 dot" x="56.5" y="36.67" width="10" height="10" rx="5" ry="5"/>
<rect class="cls-3 dot" x="27" y="36.67" width="10" height="10" rx="5" ry="5"/>
<path class="cls-1" d="M980,665.39v-5.06a5,5,0,0,0-10,0V665H916a32,32,0,0,0,0,64h59a32,32,0,0,0,5-63.61ZM975,719H916a22,22,0,0,1,0-44h59a22,22,0,0,1,0,44Z" transform="translate(-884 -655.33)"/></svg>
